{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %} 

{% block body %}
    <div class="wrapper fadeInDown">
        
        <div id="formContent">

         <h3 class="h3 mb-3 mt-3 text-left">Register</h3>
            <hr>

        <div class="container">
 
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {#{ form_row(registrationForm.agreeTerms) }#}

         <hr>
           <button class="btn btn-primary mb-3" type="submit">
        REGISTER
    </button>
    {{ form_end(registrationForm) }}

        </div>

            

        </div>

        

        </div>

{% endblock %}
